
@media only screen and (max-width : 980px) {
    /* Styles */
    #masthead{
        max-width: 925px;
    }
    .main-container{
        max-width: 925px;
    }
}


@media only screen and (max-width : 768px) {
    /* Styles */
    #masthead{
        max-width: 725px;
    }
    .main-container{
        max-width: 725px;
    }
}

@media only screen and (max-width : 640px) {
    /* Styles */
    #masthead{
        position: relative;
        max-width: 300px;
        text-align: center; 
        padding-right: 0;
    }

    #main-container{
        max-width: 300px;
        padding-top: 0px;
        float: left;
    }
    .container{
        max-width: 300px;
        position: static;
    }

    #logo{
        height: 100%;
        width: 100%;
        float: none;
        text-align: center;
    }

    nav{
        max-width: 300px;
        width: 100%;
        float: none;
        text-align: center;
    }

    /* about/index page */
    .auth-image{
        width: 225px;
        height: auto;
    }

    /* portfolio page */
    .work {
        position: relative;
        float: left;
        width: 225px;
        margin: 20px 0 25px;
        overflow: auto;
      }
}